@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200..800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

[data-tooltip] {
  position: relative;
  white-space: nowrap;
}

[data-tooltip]:hover::after {
  position: absolute;
  bottom: -10px;
  left: 50%;
  z-index: 1000;
  padding: 5px 10px;
  font-size: 0.75rem;
  color: #fdfdfd;
  text-align: center;
  content: attr(data-tooltip);
  background-color: #333;
  border-radius: 5px;
  transition: opacity 0.3s ease-in-out;
  transform: translate(-50%, 100%);
}

[data-tooltip]:hover::before {
  position: absolute;
  bottom: -12px;
  left: 50%;
  content: '';
  border-color: transparent transparent #333;
  border-style: solid;
  border-width: 0 6px 10px;
  transform: translateX(-50%);
}

#link::after {
  content: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAAQElEQVR42qXKwQkAIAxDUUdxtO6/RBQkQZvSi8I/pL4BoGw/XPkh4XigPmsUgh0626AjRsgxHTkUThsG2T/sIlzdTsp52kSS1wAAAABJRU5ErkJggg==);
  margin: 0 3px 0 5px;
}


.bg-checkered-dark {
  background: repeating-conic-gradient(at 4px 4px,#181e2c 0 25%,#1b212f 0 50%);
  background-size: 28px 28px;
}

.bg-checkered-light {
  background: repeating-conic-gradient(at 4px 4px,#f5f5f5 0 25%,#f8f8f8 0 50%);
  background-size: 28px 28px;
}

::-webkit-scrollbar {
  display: none;
}